@font-face {
	font-family: 'jetbrainsmono-midium';
	src: url('fonts/JetBrainsMono-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'jetbrainsmono-regular';
	src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
}
h1 {
    font-family: 'jetbrainsmono-midium';
    margin: 0;
}
h2 {
    font-family: 'jetbrainsmono-midium';
}
h3 {
    font-family: 'jetbrainsmono-midium';
}
p {
    font-family: 'jetbrainsmono-midium';
    margin: 0;
}
a {
    font-family: 'jetbrainsmono-midium';
}