.top {
    display: inline-block;
    margin-left: 20%;
    margin-top: 40vh;
}
.title {
    color:hsl(0, 0%, 92%);
    font-size: 60px;
    margin: 0;
    letter-spacing: -2px;
}

body {
    margin: 0;
    background-color: hsl(0, 0%, 11%);
}

.menu {
    background-color: rgb(12, 12, 12);
    width: 75px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu-button {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 0;
}
.menu-button svg {
    width: 50px;
    fill: #505050;
    transition: 0.4s;
}

.menu-button svg:hover {
    fill: hsl(288, 100%, 60%);
    transition: 0.4s;
}

.selected svg {
    fill: hsl(288, 100%, 60%);
    transition: 0.4s;
}

.title {
    font: 'Noto Sans JP', sans-serif;
    font-size: 56px;
}
.subtitle {
    font-size: 22px;
    margin-top: 20px;
    color: rgb(150, 150, 150);
}
.background-struct {
    position: absolute;
    right: 120px;
    bottom: 40px;
    user-select: none;
    color: white;
    opacity: 0.8;
    width: 30vw;
    white-space: nowrap;
    z-index: -10;
}

.background-struct p {
    width: calc(30vw + 50px);
    overflow: hidden;
}

.mcskin {
    top: 0;
    right: 75px;
    position: absolute;
    pointer-events: none;
}

.mcskin img {
    height: 25vw;
}

.logo {
    position: absolute;
    top: 5px;
    right: 2px;
    width: 70px;
    text-decoration: none;
    color: #ff0000;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 800px) {
    .title {
        font: 'Noto Sans JP', sans-serif;
        font-size: min(56px, 10.5vw);
    }
    .subtitle {
        font-size: min(22px, 4.5vw);
    }
    .top {
        display: inline-block;
        margin: 40vh 0 0 0;
        width: 100%;
        text-align: center;
    }
    .background-struct {
        display: none;
    }
    .mcskin {
        right: 0;
        top: 75px;
    }
    .mcskin img {
        height: 38vw;
    }
    .menu {
        width: 100%;
        height: 75px;
    }
    .menu-button {
        margin: 0 8px 0 8px;
    }
    .menu-button svg {
        height: 55px;
    }
    .logo {
        left: 10px;
        top: 9px;
    }
}

.name:hover  {
    text-decoration: underline;
    cursor: pointer;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.namethree {
    color: white;
    animation: namethree 1.2s forwards 0.8s;
}

.namethreenoanm {
    color: hsl(288, 100%, 60%);
}

@keyframes namethree {
    0% {
        color: white;
    }
    100% {
        color: hsl(288, 100%, 60%);
    }
}

.fadein {
    opacity: 0;
    animation: fadein 0.5s forwards 0.1s;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}