.top {
    display: inline-block;
    margin-left: 20%;
    margin-top: 40vh;
}
.title {
    color:hsl(0, 0%, 92%);
    font-size: 60px;
    margin: 0;
    letter-spacing: -2px;
}

body {
    margin: 0;
    background-color: hsl(0, 0%, 11%);
}

.menu {
    background-color: rgb(12, 12, 12);
    width: 75px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu-button {
    display: inline-block;
    vertical-align: middle;
    margin: 3px 0 3px 0;
}
.menu-button svg {
    width: 60%;
    fill: #505050;
    transition: 0.4s;
}

.menu-button svg:hover {
    fill: hsl(288, 100%, 60%);
    transition: 0.4s;
}

.title {
    font: 'Noto Sans JP', sans-serif;
    font-size: 56px;
}
.subtitle {
    font-size: 22px;
    margin-top: 20px;
    color: rgb(150, 150, 150);
}
@media (max-width: 800px) {
    .title {
        font: 'Noto Sans JP', sans-serif;
        font-size: 6vw;
    }
    .subtitle {
        font-size: 3vw;
    }
    .top {
        display: inline-block;
        margin-top: 40vh;
    }
}
.icon {
    position: absolute;
    top: -5px;
    right: 8px;
    font-size: 65px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    background: linear-gradient(110deg, rgb(147, 0, 184), hsl(288, 76%, 60%), hsl(305, 92%, 76%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0.0);
    color: #ff0000;
    user-select: none;
}

.background-struct {
    position: absolute;
    right: 120px;
    bottom: 40px;
    user-select: none;
    color: white;
    opacity: 0.8;
}

.name:hover  {
    text-decoration: underline;
    cursor: pointer;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}