@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
.discord {
    background-color: #2C2F33;
    width: 50vw;
    min-width: 300px;
    max-width: 600px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    margin-top: 80px;
}
.dicord div {
    display: inline-block;
}
#discord_id {
    overflow: hidden;
    outline: none;
    cursor: pointer;
}
.discord div p {
    color: #e7e7e7;
    font-size: 40px;
    margin: 26px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

#discord_id::selection {
    background: #33a1eb85;
    color: white;
    height: 40px;
}
#discord_id span::selection {
    background: #33a1eb85;
    color: white;
    height: 40px;
}
.discord div p img {
    height: 80px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 30px;
}
.discord_name{
    height: 40px;
}
.discord_name svg {
    height: 40px;
    background: #23272A;
    width: 100%;
}
@media (max-width: 800px) {
    .discord div p img {
        display: inline-block;
        text-align: center;
        margin: 0 30px 0 30px;
    }
}