.top {
    display: inline-block;
    margin-left: 20%;
    margin-top: 38vh;
}
.title {
    color:hsl(0, 0%, 92%);
    font-size: 60px;
    margin: 0;
    letter-spacing: -2px;
}

body {
    margin: 0;
    background-color: hsl(0, 0%, 11%);
}

.menu {
    background-color: rgb(12, 12, 12);
    width: 75px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu-button {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 0;
}
.menu-button svg {
    width: 60%;
    fill: #505050;
    transition: 0.4s;
}

.menu-button svg:hover {
    fill: hsl(288, 100%, 60%);
    transition: 0.4s;
}

.selected svg {
    fill: hsl(288, 100%, 60%);
    transition: 0.4s;
}

.title {
    font: 'Noto Sans JP', sans-serif;
    font-size: 56px;
}
.background-struct {
    position: absolute;
    right: 120px;
    bottom: 40px;
    user-select: none;
    color: white;
    opacity: 0.8;
    width: 30vw;
    white-space: nowrap;
    z-index: -10;
}

.mcskin {
    top: 0;
    right: 75px;
    position: absolute;
    pointer-events: none;
}

.mcskin img {
    height: 25vw;
}

@media (max-width: 800px) {
    .title {
        font: 'Noto Sans JP', sans-serif;
        font-size: 6vw;
    }
    .subtitle {
        font-size: 3vw;
    }
    .top {
        display: inline-block;
        margin-top: 40vh;
    }
    .background-struct {
        display: none;
    }
    .mcskin {
        display: none;
    }
}
.logo {
    position: absolute;
    top: 5px;
    width: 70px;
    text-decoration: none;
    color: #ff0000;
    cursor: pointer;
    user-select: none;
}

.name:hover  {
    text-decoration: underline;
    cursor: pointer;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.meter {
    width: 60vw;
    height: 10px;
    background-color: rgb(218, 218, 218);
    border-radius: 5px;
    display: inline-block;
    max-width: 800px;
    margin-bottom: 16px;
}

.meter div {
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, hsl(36, 100%, 51%), rgb(241, 82, 34));
}

.skills p {
    color: white;
}

.skills {
    margin-top: 60px;
}

@keyframes kj {
    0% {
        width: 0%;
    }
    100% {
        width: 68%;
    }
}

@keyframes go {
    0% {
        width: 0%;
    }
    100% {
        width: 32%;
    }
}

@keyframes hcj {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 80%;
        opacity: 1;
    }
}

#kj {
    width: 0%;
    animation: kj 1s forwards 0.4s;
}
#go {
    width: 0%;
    animation: go 1s forwards 0.8s;
}
#hcj {
    width: 0%;
    animation: hcj 1s forwards 0.2s;
}

.fadein {
    opacity: 0;
    animation: fadein 1s forwards 0.2s;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}